# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual environments
# ----------------------
venv/
.env/
.venv/

# ----------------------
# Environment variables
# ----------------------
.env

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# Database
# ----------------------
data/database.db
*.sqlite3
*.db

# ----------------------
# Data files (raw/processed)
# ----------------------
data/raw/*
data/processed/*

# BUT keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDEs / Editors
# ----------------------
.vscode/
.idea/

# ----------------------
# Testing
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# Jupyter (por si usás)
# ----------------------
.ipynb_checkpoints/